* {
    margin: 0;
    max-width: 550px;
}

.travel-main {
    background: #FFFFFF;
    font-family: "Inter", sans-serif;
    padding-top: 18px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 18px;
    border-bottom: 1px solid #F5F5F5;
}

.img-text-combo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.location-photo {
    width: 125px;
    height: 168px;
    object-fit: cover;
    border-radius: 5px;
}

.info-text {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.pin-img-country {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.location-info {
    display: flex;
    align-items: center;
    font-size: 11px;
    font-weight: 400;
    column-gap: 12px;
}

.maps-link {
    color: #918E9B;
    text-decoration-line: underline;
}

.location-name {
    font-size: 25px;
    font-weight: 700;
}

.date-range {
    font-size: 11px;
    font-weight: 700;
    margin: 0;
}

.destination-description {
    font-size: 11px;
    font-weight: 400;
    margin: 0;
}
